.learn-press-toggle-item-preview:checked {
	color: #0073aa;
}

.lp-order-statuses {
	.featured-theme {
		display: none;
	}
}

.lp-meta-box-course-panels {
	.lp-select-2 .select2 {
		min-width: 200px;
	}
}

#course-settings.postbox {
	margin: 0 0 10px;
}
