.wp-admin .lp-modal-dialog {
	.lp-modal-content {
		.lp-modal-header {
			padding: 2em;

			h3 {
				font-size: 1.4em;
			}
		}
	}
}

.lp-modal-dialog {
	display: flex;
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	text-align: center;
	align-items: center;
	justify-content: center;

	.lp-modal-content {
		display: inline-block;
		overflow: hidden;
		z-index: 2;
		width: auto;
		max-width: 70%;
		border-radius: 8px;
		text-align: left;
		vertical-align: middle;
		background: white;
		color: black;
	}

	.lp-modal-body {
		padding: 30px 0;
	}

	.lp-modal-content .lp-modal-header {
		background: $primary-color;
		border-bottom: 1px solid #eee;
		padding: 16px 20px;
	}

	.lp-modal-content .lp-modal-header h3 {
		margin: 0;
		color: white;
		font-size: inherit;
	}

	.lp-modal-content .lp-modal-body .main-content {
		max-height: 500px;
		overflow: auto;
	}

	.lp-modal-content .lp-modal-body .main-content h3,
	.lp-modal-content .lp-modal-body .main-content h2,
	.lp-modal-content .lp-modal-body .main-content .pd-2em {
		padding: 0 20px;
	}

	.lp-modal-header {
		padding: 0 20px;
	}

	.lp-modal-footer {
		padding: 10px 20px;
		background-color: #f9fafb;
		text-align: end;

		.lp-button.lp-button {
			height: 40px;
			padding: 0 32px;
			line-height: 38px;
		}
	}

	.btn-no {
		color: $primary-color;
		background-color: #f5f5f5;

		&:hover {
			color: $secondary-color;
		}
	}
}

#lp-modal-overlay {
	display: none;
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	background: #000;
}

#lp-modal-window {
	display: none;
	position: fixed;
	z-index: 999999;
	top: 50%;
	left: 50%;
	padding: 35px 60px 28px 60px;
	background: #fff;
	transform: translate(-50%, -50%);
	border-radius: 5px;
}

#lp-modal-window #lp-modal-content {
	margin: 0 0 24px 0;
	color: #333;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
}

#lp-modal-window #lp-modal-content > * {
	margin: 0 0 0.5em;
}

#lp-modal-window #lp-modal-content #lp-modal-buttons {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

#lp-modal-window #lp-modal-buttons {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

#lp-modal-window #lp-modal-buttons .lp-button {
	position: relative;
	margin: 0 10px 0 10px;
}
