$max-content: 1350px;
$max-content-xl: 1450px;
$max-content-s: 1250px;
$max-content-table: 900px;
$font-small: 1.4rem;
$font-text: 1.6rem;

    $media-xs:  480px; 
    $media-sm:  576px; 
    $media-md:  768px;
    $media-lg:  992px;
    $media-xl:  1200px;
    $media-xxl: 1600px;
